/*
        color:blue-194e91;
        font:KR - Nanum Gothic(google font) / EN - Raleway(google font)
        font-weight:400,600
        */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Raleway:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nanum Gothic", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
header {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background: url("../img/austin-wilcox-lAueE1Zf9tY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#topHeader {
  display: flex;
  height: 80px;
  width: 100vw;
}
#logo {
  flex: 1;
  text-align: center;
  height: 100%;
  padding-top: 30px;
}
#mainMenu {
  flex: 3;
  height: 100%;
  text-align: center;
  transition: all 1s;
  z-index: 10;
  position: relative;
}
#mainMenu > ul {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
header > div:hover {
  background-color: #ffffff;
  transition: all 0.3s;
}
#mainMenu > ul > li {
  display: inline-block;
  width: 15%;
  border: 1px solid #ccc;
  position: relative;
}
#mainMenu > ul > li > a {
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s;
  position: relative;
}
#mainMenu > ul > li > a > span {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
  visibility: hidden;
}
#mainMenu > ul > li:hover {
  color: #194e91;
  transition: all 0.3s;
}
#mainMenu > ul > li:hover span {
  visibility: visible;
  top: -20%;
  transition: all 0.3s;
  color: #194e91;
}
#subTab {
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 50px 80px;
  width: 100vw;
  height: 300px;
  display: none;
}
.subMenu {
  height: 300px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  display: none;
}
.subMenu > li {
  width: 100%;
}
.subMenu > li > a {
  display: block;
  padding: 10px 15px;
}
.subMenu > li > a:hover {
  font-weight: 600;
}
#search {
  flex: 1;
  padding: 5px;
  height: 100%;
  gap: 5px;
  position: relative;
}
#inputIconBox {
  display: flex;
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#searchInput {
  width: 100%;
  height: 30px;
  padding-left: 15px;
  border: 1px solid #194e91;
  border-radius: 20px;
}
#searchInput:focus,
#searchInput:active {
  border: 2px solid #194e91;
  outline: none;
}
#inputIconBox > span {
  color: #194e91;
  position: absolute;
  right: 5%;
  bottom: 50%;
  transform-origin: center center;
  transform: translateY(50%);
  cursor: pointer;
}
#inputIconBox > span:hover {
  font-weight: 600;
}
#icons {
  display: none;
}
#fullpageCover {
  width: 100%;
  height: 100%;
  background-color: #33333310;
  position: relative;
}
#fullpageCover > p {
  font-size: 4rem;
  font-weight: 600;
  color: #ffffff;
}
#fullpageCover > p > span {
  color: #194e91;
}
#fullpageCover > p:first-child {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#fullpageCover > p:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#fullpageCover > p:last-child {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*-------------Main CSS 시작 ------------*/
main {
  padding: 0px 20%;
  margin: 5% 0px;
}
#about {
  width: 100%;
  height: 600px;
  margin: 5% 0px;
  border: 3px solid salmon;
  color: #333333;
}
#about > h1:first-child {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  border: 1px solid saddlebrown;
  margin-bottom: 5%;
}
#about > h1:nth-child(2) {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  border: 1px solid saddlebrown;
  text-align: center;
  margin: 0px auto;
}
#about span {
  color: #194e91;
}
#about > h3 {
  text-align: center;
  margin: 3% 0px;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
}
#about > p {
  border: 1px solid saddlebrown;
  width: 70%;
  margin: 0px auto;
  line-height: 1.75rem;
}
#about > button {
  font-family: "Nanum Gothic", sans-serif;
  width: 200px;
  padding: 10px;
  font-size: 14px;
  margin: 3% auto;
  outline: none;
  border: 1px solid #194e91;
  background-color: #ffffff;
  color: #194e91;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}
#about > button:hover {
  background-color: #194e91;
  color: #ffffff;
  font-weight: 600;
}
#brands {
  width: 100%;
  height: 700px;
  border: 3px solid salmon;
  color: #333333;
  position:relative;
}
#brands > h1:first-child {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  border: 1px solid saddlebrown;
  margin-bottom: 5%;
}
#brands > p {
  text-align: center;
  border: 1px solid saddlebrown;
  width: 70%;
  margin: 0px auto;
  line-height: 1.75rem;
}
#brandSlideWithArrow{
  border:1px solid black;
  position: relative;
  margin:3% auto;
  width:100%;
  height:fit-content;
}
#brandSlideWithArrow > .material-symbols-outlined{
  position:absolute;
  top:50%;
  padding:1%;
  color:#ffffff;
  background-color: #333333;
  cursor: pointer;
  transition: all 0.3s;
}
#brandSlideWithArrow > .material-symbols-outlined:hover{
  background-color: #194e91;
}
#brandSlideWithArrow > .backArrow{
  left:3%;
  transform:translateY(-50%);
}
#brandSlideWithArrow > .forwardArrow{
  right:3%;
  transform:translateY(-50%);
}
#brandsSlide {
  border: 1px solid #194e91;
  width: 80%;
  max-width: 900px;
  height:300px;
  display: flex;
  gap:5px;
  justify-content: flex-start;
  align-items: center;
  margin: 0px auto;
  padding: 0px 3%;
  overflow-x:hidden;
}
.brandsBox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition:all 0.3s;
}
.brandsBox:hover{
  transform:translateY(-3px);
}
.brandsInnerBox {
  position: relative;
  width: min-content;
  border-radius: 20px;
  border:1px solid #ccc;
  overflow: hidden;
}
.brandsBox:hover .brandsInnerBox{
  box-shadow: 2px 2px 10px 2px #ececec;
}
.brandsInnerBox> img {
  transition:all 0.5s;
}
.brandsText {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color:#333333;
  padding: 10% 1%;
  position: absolute;
  bottom: -20%;
  visibility: hidden;
  transition: all 0.5s;
}
.brandsText > span{
  display: block;
  width:50px;
  height:2px;
  background-color: #333333;
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
}
.viewmore {
  margin: 3% 0px;
  border-radius: 20px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background-color: #194e91;
  background: linear-gradient(#589efa, #194e91);
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px 2px #ececec;
  visibility: hidden;
}
.viewmore:hover{
  background: linear-gradient(#589efa, #1f6fd8);
}
#brands > button {
  font-family: "Nanum Gothic", sans-serif;
  width: 200px;
  padding: 10px;
  font-size: 14px;
  margin: 3% auto;
  outline: none;
  border: 1px solid #194e91;
  background-color: #ffffff;
  color: #194e91;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}
#brands > button:hover {
  background-color: #194e91;
  color: #ffffff;
  font-weight: 600;
}